<nav class="navbar navbar-default navbar-absolute" data-topbar-color="blue">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular f-26">keyboard_arrow_left</i>
                <i class="material-icons visible-on-sidebar-mini f-26">keyboard_arrow_right</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand"></a> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="cursor: pointer;">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">{{len}}</span>
                        <p class="hidden-lg hidden-md">
                            Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">

                        <li *ngFor=" let item of leadsAll ,let i = index ">
                            <a>{{i + 1}}) Follow-up date of <strong>{{item.name}}</strong> is today </a>
                        </li>
                        <li *ngIf="len == 0"><img src="../../../assets/img/notification.png" style="width: 100px;height: 100px;margin-left: 60px;" alt="" srcset=""></li>
                        <li *ngIf="len == 0"><a>Opps.. No Follow-Up for Today</a></li>
                    </ul>
                </li>
                <li style="cursor: pointer;">
                    <h5>Welcome {{username}}</h5>
                </li>

                <li style="cursor: pointer;">
                    <h5>
                        <i class="material-icons">person</i>
                    </h5>

                </li>
                <li style="cursor: pointer;">
                    <!-- <a  class="dropdown-toggle" data-toggle="dropdown" style="font-size:15px;">
                        Logout -->
                    <a (click)="logout()" class="waves-effect waves-dark btn" style="background-color: rgb(44, 131, 218);"><i class="material-icons left">exit_to_app</i>Logout</a>

                    <p class="hidden-lg hidden-md">Settings</p>

                </li>

            </ul>
        </div>
    </div>
</nav>