.validation {
    color: red;
}

.title1 {
    color: #2196f3;
    font-weight: bold;
    font-size: 23px;
}

.mycolor {
    background: linear-gradient(to right, #0be93b 0%, #0285f0 100%);
    /* background-color: #2196f3; */
    font-weight: bold;
}


/* th {
    background-color: #77bbf3;
} */