<div class="d-flex">
    <div>
        <button type="button" (click)="showForm()" class="btn btn-success">Add Users <i class="bi bi-briefcase-fill"></i></button>
        <button type="button" (click)="showTable()" class="btn btn-success">showList <i class="bi bi-briefcase-fill"></i></button>
    </div>

    <div class="col-md-12">
        <div *ngIf="!showUserForm && showUserTable" class="card">
            <div class="card-content">
                <h4 class="card-title">Users</h4>
                <div class="content">


                    <div class="row">
                        <div class="col-sm-12">

                            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>


                                        <th>User name</th>

                                        <th>Mobile no.</th>
                                        <th>Email ID</th>


                                        <th>Working hours</th>

                                        <th>Role</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of usersAll; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{data.userName}}</td>
                                        <td>{{data.mobile}}</td>
                                        <td>{{data.email}}</td>


                                        <td>{{data.workingHours}}</td>
                                        <td>{{data.role}}</td>
                                        <td>
                                            <a class="btn btn-simple btn-success btn-icon edit" (click)="view(data)"><i title="read" data-toggle="modal" data-target="#myModal" class="material-icons">assignment </i></a>
                                            <a (click)="onEdit(data)" class="btn btn-simple btn-warning btn-icon edit"><i  title="edit" class="material-icons">edit</i></a>
                                            <a (click)="deleteUsers(data)" class="btn btn-simple btn-danger btn-icon remove"><i  title="delete" class="material-icons">close</i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>



                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <div *ngIf="showUserForm && !showUserTable" class="card" style="width: 80%; margin: 10px 0 0px 144px;">

            <form class="form-horizontal" [formGroup]="formValue">

                <div class="card-header card-header-text">
                    <span *ngIf="showAddButton"><h4 class="card-title">Add Users</h4></span>
                    <span *ngIf="showUpdateButton"><h4 class="card-title">Update Users</h4></span>
                </div>

                <div class="card-content">
                    <div class="row">
                        <label class="col-sm-2 label-on-left">User name</label>&nbsp;
                        <div class="col-sm-8">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="text" placeholder="Enter user name" formControlName="userName" class="form-control" value>
                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.userName || formValue.value.userName.length == 0)" class="validation">*User name is required</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Mobile no.</label>&nbsp;
                        <div class="col-sm-8">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="number" placeholder="Enter mobile number" formControlName="mobile" class="form-control" value>
                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.mobile || formValue.value.mobile.length == 0)" class="validation">*Mobile number is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Email ID</label>&nbsp;
                        <div class="col-sm-8">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="email" placeholder="Enter email id" formControlName="email" class="form-control">
                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.email || formValue.value.email.length == 0)" class="validation">*Email ID required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Password</label>&nbsp;
                        <div class="col-sm-8">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="password" placeholder="Enter password" formControlName="password" class="form-control">
                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.password || formValue.value.password.length == 0)" class="validation">*Password is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 label-on-left">Working hours</label>&nbsp;
                        <div class="col-sm-8">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input type="number" placeholder="Enter working hours" formControlName="workingHours" class="form-control">
                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.workingHours || formValue.value.workingHours.length == 0)" class="validation">*Working hours are required</span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-sm-2 label-on-left">Role</label>
                        <div class="col-sm-8">


                            <div class="form-group open" style="margin-left: 20px;">
                                <div class="select" aria-expanded="true">

                                    <select placeholder="Enter Role" formControlName="role" class="form-control">
                                        <option value=""> Select Role --</option>
                                        <option [ngValue]="role" *ngFor="let role of roles">{{role}}</option>    
                                    </select>

                                    <span class="text-info" *ngIf="formValue.touched && (!formValue.value.role || formValue.value.role.length == 0)" class="validation">*Role required</span>
                                </div>
                                <span class="material-input"></span></div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button *ngIf="showAddButton" type="button" [disabled]="!formValue.valid" (click)="postUsersDetails()" class="btn btn-success">Submit <i class="bi bi-briefcase-fill"></i></button>
                    <button *ngIf="showUpdateButton" type="button" [disabled]="!formValue.valid" (click)="updateUsersDetails()" class="btn btn-success">Update <i class="bi bi-briefcase-fill"></i></button>
                </div>

            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Details</h4>
            </div>
            <div class="modal-body">

                <div class="row m-l-5">
                    <div class="col-sm-3 p-4">

                        <p><strong>User name</strong></p>
                        <p><strong>Mobile no.</strong></p>
                        <p><strong>Email ID</strong></p>

                        <p><strong>Working hours</strong></p>
                        <p><strong>Role</strong></p>
                    </div>
                    <div>

                        <p>{{userDetails.userName}}</p>
                        <p>{{userDetails.mobile}}</p>
                        <p>{{userDetails.email}}</p>

                        <p>{{userDetails.workingHours}}</p>
                        <p>{{userDetails.role}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>