<div class="sidebar">
    <div class="logo">
        <a class="simple-text">
            Aqua RO
        </a>
    </div>
    <div class="logo logo-mini">
        <a class="simple-text">
            Ro
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li *ngIf="isSuperAdmin || isAdmin || isTelecaller || isTechnician">
                <a routerLink="/dashboard/">
                    <i class="material-icons">person
                    </i>
                    <p>Profile</p>
                </a>
            </li>
            <li *ngIf="isSuperAdmin">
                <a routerLink="/dashboard/chart">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li *ngIf="isSuperAdmin || isAdmin">
                <a routerLink="/dashboard/users">
                    <i class="material-icons">people</i>
                    <p>Users</p>
                </a>
            </li>
            <li *ngIf="isSuperAdmin ">
                <a routerLink="/dashboard/selectteam">
                    <i class="material-icons">people</i>
                    <p>select Team</p>
                </a>
            </li>
            <li *ngIf="isSuperAdmin || isAdmin || isTelecaller || isTechnician">
                <a routerLink="/dashboard/leads" routerLinkActive="active">
                    <i class="material-icons">person_add</i>
                    <p>Leads</p>
                </a>
            </li>
            <li *ngIf=" isTechnician">
                <a routerLink="/dashboard/assignedlead">
                    <i class="material-icons">dashboard</i>
                    <p>Assigned Lead </p>
                </a>
            </li>
            <li *ngIf="isSuperAdmin || isAdmin || isTelecaller || isTechnician">
                <a routerLink="/dashboard/complaints">
                    <i class="material-icons">help</i>
                    <p>Complaints</p>
                </a>
            </li>

            <li *ngIf="isSuperAdmin || isAdmin ">
                <a routerLink="/dashboard/stock">
                    <i class="material-icons">store
                    </i>
                    <p>Stock</p>
                </a>
            </li>

            <li *ngIf="isTechnician">
                <a routerLink="/dashboard/invoice">
                    <i class="material-icons">receipt
                    </i>
                    <p>Invoice</p>
                </a>
            </li>

            <li *ngIf="isSuperAdmin || isAdmin">
                <a routerLink="/dashboard/stockallotment">
                    <i class="material-icons">local_grocery_store</i>
                    <p>Stock Allotment</p>
                </a>
            </li>
        </ul>

    </div>
</div>