.headInvoice {
    background-color: #833cbd;
    color: #fff;
}

.title1 {
    color: #2196f3;
    font-weight: bold;
    font-size: 23px;
}

.mycolor {
    background: linear-gradient(to right, #0be93b 0%, #0285f0 100%);
    /* background-color: #2196f3; */
    font-weight: bold;
}

.acc {
    width: 39rem;
    height: 220px;
    background-color: #ede4f5;
    padding: 13px;
}