<div class="d-flex">
    <button type="button" (click)="showSearchForm()" class="btn btn-dark"> Generate Invoice<i class="bi bi-briefcase-fill"></i></button>
    <button *ngIf="isSuperAdmin || isAdmin" type="button" (click)="showTable()" class="btn btn-info">show List <i class="bi bi-briefcase-fill"></i></button>

    <div *ngIf="showinvoicesearchForm &&! showinvoiceForm && !showinvoiceUpdateForm" class="card" style="width: 80%; margin: 10px 0 0px 144px;">
        <form [formGroup]="searchLead" (ngSubmit)="search()">



            <!-- <div class="card-header card-header-text">
                    <h4 class="card-title">Search .</h4>
                </div> -->
            <div class="card-content">

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Enter mobile no. or alternate mobile no.</label>
                            <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="10" class="form-control" formControlName="mobile">
                            <span class="help-block">Enter Mobile No and search for a lead</span>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn mycolor">Search <i class="bi bi-briefcase-fill"></i></button>
                </div>



            </div>
        </form>
    </div>

    <div *ngIf="!showinvoicesearchForm && !showinvoiceTable && showinvoiceForm" class="card" style="width: 80%; margin: 10px 0 0px 144px;">
        <form class="form-horizontal" [formGroup]="invoiceForm" (ngSubmit)="generateInvoice()">
            <div class="card-header card-header-text">

                <h4 class="card-title title1">Invoice Form</h4>
                <!-- <h4 *ngIf="showUpdateButton" class="card-title">Update Complaint</h4> -->
            </div>

            <div class="card-content">
                <div class="row">
                    <label class="col-sm-2 label-on-left">Name</label>
                    <div class="col-sm-8">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="text" placeholder="Enter name" formControlName="name" class="form-control" [readonly]="true" value>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 label-on-left">Email Id</label>
                    <div class="col-sm-8">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="email" placeholder="Enter email id" formControlName="emailId" class="form-control" [readonly]="true" value>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <label class="col-sm-2 label-on-left">Address</label>
                    <div class="col-sm-8">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="text-area" placeholder="Enter address" formControlName="address" class="form-control" [readonly]="true">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 label-on-left">Date</label>&nbsp;
                    <div class="col-sm-8">

                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="date" class="form-control" formControlName="date">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 label-on-left">Due Date</label>&nbsp;
                    <div class="col-sm-8">

                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input type="date" class="form-control" formControlName="dueDate">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-2 label-on-left">Service type</label>
                    <div class="col-sm-4">


                        <div class="form-group open" style="margin-left: 20px;">
                            <div class="select" aria-expanded="true">
                                <select class="form-control" placeholder="Select an option" formControlName="serviceType">
                                
                                    <!-- <option value="">Select your option --</option>
                                    <option value="AMC">AMC</option>   
                                    <option value="Service type">Service type</option>    -->
                                    
                                    <option value=""> Select Role --</option>
                                    <option [ngValue]="serviceType" *ngFor="let serviceType of types">{{serviceType}}</option>    
                                </select>

                            </div>
                            <span class="material-input"></span></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">
                                <!-- <button type="button" (click)="addItem()" class="btn btn-success" style="margin-left: 86%;">+Add item</button> -->
                                <button type="button" (click)="addItem()" style="margin-left: 86%;" class="btn btn-success btn-round btn-fab btn-fab-mini">
                                    <i class="material-icons" >control_point</i>
                                </button>

                                <!-- <a type="button" (click)="addItem()"><i style="margin-left: 96%; cursor: pointer; font-size:35px"class="material-icons " >add_circle_outline
                                </i>
                            </a> -->
                                <form [formGroup]="invoiceForm">
                                    <div formArrayName="itemList" *ngFor="let item of invoiceForm.get('itemList')['controls']; let i = index;">

                                        <div [formGroupName]="i">
                                            <table class="table">
                                                <thead>
                                                    <tr>

                                                        <td *ngIf="isAdmin || isSuperAdmin">
                                                            <select class="form-control" placeholder="Select an item name" formControlName="itemName" (change)='selectSpare1($event,i)'>
                                
                                                        <option value="">Select item name --</option>
                                                        
                                                        <option *ngFor="let data of stockAll">{{data.spare_name}}</option>   
                                                        
                                                        
                                                    </select>
                                                        </td>
                                                        <td *ngIf="isTechnician">
                                                            <select class="form-control" placeholder="Select an item name" formControlName="itemName" (change)='selectSpare($event,i)'>
                                
                                                        <option value="">Select item name --</option>
                                                      
                                                        <option   [ngValue]="data.spare_name"   *ngFor="let data of newStockallot">{{data.spare_name}}</option>   
                                                        
                                                        
                                                    </select>
                                                        </td>

                                                        <td *ngIf="qnty[i] != null">Available quantity : {{qnty[i]}} </td>

                                                        <!-- <td> <input type="text" placeholder="Description" class="form-control" formControlName="description"></td> -->



                                                        <!-- <td>
                                                            <select *ngFor="let data of stockallotAll">
                                                            <option *ngFor="let item of data.itemList">{{item.qnt}} </option>
                                                            </select>
                                                        </td> -->

                                                        <td> <input type="number" placeholder="Quantity" class="form-control" formControlName="qnt"></td>



                                                        <td> <input type="number" placeholder="Rate" class="form-control" formControlName="rate"></td>

                                                        <td><input type="number" placeholder="Amount" class="form-control" formControlName="amt" [value]="getamount(i)"></td>

                                                        <td *ngIf="i > 0" (click)="removeItem(i)" class="text-right"> <i style="cursor: pointer;" class="material-icons">delete_forever
                                                        </i>
                                                        </td>
                                                    </tr>

                                                </thead>

                                                {{ invoiceForm.controls.itemList.controls[i].controls.value }}

                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="text-center" style="margin-left: 100px;">

                    <button type="submit" class="btn mycolor">Generate invoice<i class="bi bi-briefcase-fill"></i></button>
                    <button type="button" (click)="showSearchForm()" class="btn btn-danger">Cancel<i class="bi bi-briefcase-fill"></i></button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-md-12">
        <div *ngIf="!showinvoicesearchForm && showinvoiceTable && !showinvoiceForm && !showinvoiceUpdateForm" class="card-form card">
            <div class="card-content">
                <h4 class="card-title title1">Invoice</h4>
                <div class="content">
                    <!-- <div class="toolbar">
                  
                    </div>
                    <div class="material-datatables">
                        <div id="datatables_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="datatables_length"><label class="form-group">Show <select name="datatables_length" aria-controls="datatables" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="-1">All</option></select> entries</label></div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="datatables_filter" class="dataTables_filter"><label class="form-group"><input type="search" class="form-control input-sm" placeholder="Search records" aria-controls="datatables"></label></div>
                                </div>
                            </div> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table datatable [dtOptions]="dtOptions" class="row-border hover">

                                <thead>

                                    <tr role="row">
                                        <th style="width: 87px;">Id</th>


                                        <th style="width: 87px;">Name</th>
                                        <th style="width: 87px;">Email Id</th>
                                        <th style="width: 87px;">Date</th>

                                        <th style="width: 87px;">Due Date</th>

                                        <th style="width: 87px;">Service type</th>



                                        <th style="width: 87px;">Download pdf</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let invoice of invoiceAll,let i = index">
                                        <td>{{i+1}}</td>

                                        <td>{{invoice.name}}</td>
                                        <td>{{invoice.emailId}}</td>
                                        <td>{{invoice.date}}</td>
                                        <td>{{invoice.dueDate}}</td>
                                        <td>{{invoice.serviceType}}</td>


                                        <td class="text-right">
                                            <a class="btn btn-simple btn-danger btn-icon edit"><i title="pdf" d class="material-icons" (click)="viewinvoice(invoice)">picture_as_pdf
                                            </i></a>

                                        </td>

                                    </tr>

                                </tbody>

                                <!-- <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1"></th>
                                        <th rowspan="1" colspan="1"></th>
                                        <th rowspan="1" colspan="1"></th>
                                        <th rowspan="1" colspan="1"></th>
                                        <th rowspan="1" colspan="1"></th>
                                        <th rowspan="1" colspan="1"></th>

                                        <th class="text-right" rowspan="1" colspan="1"></th>
                                    </tr>
                                </tfoot> -->

                            </table>

                        </div>

                    </div>

                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
    </div>


    <br><br>

</div>
<div *ngIf="invoice" id="htmlData">
    <div class="container card " style="width: 80%; margin: 10px 0 0px 144px;">
        <div class="row">
            <div class="col-md-12">
                <div>

                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card-header">
                                                    <h1 style="color: #2196F3"><b>Invoice</b></h1>
                                                    <p> Invoice No. :<strong> E1234-567-89</strong></p>
                                                    <p> Date : <strong>{{invoicePdf.date}}</strong> &nbsp;&nbsp;</p>
                                                    <p>Due Date : <strong>{{invoicePdf.dueDate}}</strong></p>
                                                    <p>Service Type: <strong>{{invoicePdf.serviceType}}</strong></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-header">
                                                    <img src="../../../assets/img/logo.png" style="width: 200px;height: 200px;margin-left: 50px;" alt="" srcset="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-content card-padding">
                                            <div class="m-b-20">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-md-5  text-center">
                                                            <div class="card color-light">
                                                                <!-- <table>
                                                                    <tr><th></th></tr>
                                                                </table> -->
                                                                <b><h3 style="background-color: #999999;color: #fff;"> Billed By 
                                                                   
                                                                </h3></b>
                                                                <address>
                              1234 Silver Gate Avenue, Suite 430 <br>
                              San Francisco, CA, 94118 <br>
                              <abbr title="Mail">E-mail:</abbr>&nbsp;&nbsp;example@company.com <br>
                              <abbr title="Phone">Phone:</abbr>&nbsp;&nbsp;(123) 456-7890 <br>
                              <abbr title="Fax">Fax:</abbr>&nbsp;&nbsp;800-692-7753 <br>
                              <br>
                              </address>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 light"></div>
                                                        <div class="col-md-5 text-center" style="height: 231px;">
                                                            <div class="card">
                                                                <b> <h3 style="background-color: #999999;color: #fff;">Billed To</h3></b>
                                                                <p>
                                                                    Name : <span class="font-size-20">{{invoicePdf.name}}</span> </p>
                                                                <p>Email : <span class="font-size-20">{{invoicePdf.emailId}}</span> </p>
                                                                <address>
                              {{invoicePdf.address}}
                             
                              </address> <br>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br><br>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped text-right">
                                                            <thead>
                                                                <tr class="headInvoice">
                                                                    <th class="text-center">#</th>
                                                                    <th class="text-center">Item Name</th>
                                                                    <th class="text-center">Description</th>
                                                                    <th class="text-center">Quantity</th>
                                                                    <th class="text-center">Rate</th>
                                                                    <th class="text-center">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of items,let i = index  ">
                                                                    <td class="text-center">{{i+1}}</td>
                                                                    <td class="text-center">{{item.itemName}}</td>
                                                                    <td class="text-center">{{item.description}}</td>
                                                                    <td class="text-center">{{item.qnt}}</td>
                                                                    <td class="text-center">{{item.rate}}</td>
                                                                    <td class="text-center">{{item.qnt * item.rate}}</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br><br>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <img src="../../../assets/img/download.png" style="width: 200px;height: 200px;" alt="" srcset="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="text-right clearfix">
                                                                <div class="pull-right">
                                                                    <p> Sub - Total amount: <strong><span>{{basePrice}}</span></strong> </p>
                                                                    <p> VAT: <strong><span>{{tax}}</span></strong> </p>
                                                                    <p class="page-invoice-amount"> <strong>Grand Total: <span>{{grandTotal}}</span></strong> </p>
                                                                    <br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <p class="small hint-text">Services will be invoiced in accordance with the Service Description. You must pay all undisputed invoices in full within 30 days of the invoice date, unless otherwise specified under the Special Terms
                                                        and Conditions. All payments must reference the invoice number. Unless otherwise specified, all invoices shall be paid in the currency of the invoice</p>
                                                    <p class="small hint-text">Insight retains the right to decline to extend credit and to require that the applicable purchase price be paid prior to performance of Services based on changes in insight's credit policies or your
                                                        financial condition and/or payment record. Insight reserves the right to charge interest of 1.5% per month or the maximum allowable by applicable law, whichever is less, for any undisputed past due
                                                        invoices. You are responsible for all costs of collection, including reasonable attorneys' fees, for any payment default on undisputed invoices. In addition, Insight may terminate all further work
                                                        if payment is not received in a timely manner.</p>
                                                    <hr>
                                                    <div class="text-right">
                                                        <!-- <button class="btn btn-primary" (click)="openPDF();">Export To PDF</button>
                                                    <button type="button" class="btn btn-default" onClick="javascript:window.print();"> <i class="icmn-printer margin-right-5"></i> Print </button> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="invoice" class="text-center">
    <button class="btn btn-primary" (click)="openPDF();">Export To PDF</button>
    <!-- <button type="button" class="btn btn-default" (click)="print()"> <i class="icmn-printer margin-right-5"></i> Print <div class="ripple-container"></div></button> -->
    <!-- <button type="button" class="btn btn-default" onclick="javascript:window.print();"> <i class="icmn-printer margin-right-5"></i> Print <div class="container card"></div></button> -->
</div>