.passwordicon {
    background-color: #989da1;
    color: #fff;
    margin-left: 380px;
}

.editicon {
    color: #fff;
    background-color: #2196f3;
}

.mycolor {
    background: linear-gradient(to right, #0be93b 0%, #0285f0 100%);
    /* background-color: #2196f3; */
    font-weight: bold;
}