<div class="d-flex">
    <div>
        <button type="button" (click)="showForm()" class="btn btn-dark">Add Team Members <i class="bi bi-briefcase-fill"></i></button>
        <button type="button" (click)="showTable()" class="btn btn-primary">show Team List <i class="bi bi-briefcase-fill"></i></button>
    </div>
    <div class="col-md-12">
        <div class="card" *ngIf="!showTeamForm && showTeamTable">

            <div class="card-content">
                <h3 class="card-title title1"><b>Team List</b></h3><br>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 27px;">ID</th>
                                        <th style="width: 27px;">Team Leader</th>

                                        <th style="width: 27px;">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let team of teamarr,let i=index ">
                                        <td>{{i+1}}</td>
                                        <td>{{team.admin}}</td>

                                        <!-- <td *ngFor=" let item of team.team_memeber"> -->

                                        <td class="text-center" style="width: 75px;float: left;">
                                            <a class="btn btn-simple btn-success btn-icon edit" (click)="view(team)"><i
                                                title="read" data-toggle="modal" data-target="#myModal"
                                                class="material-icons">assignment </i></a>
                                            <a (click)="onEdit(team)" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">edit</i></a>
                                            <a (click)="deleteTeams(team._id)" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                                        </td>
                                    </tr>

                                </tbody>


                            </table>
                        </div>
                    </div>



                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>


        <div *ngIf="showTeamForm && !showTeamTable" class="card" style="width: 80%; margin: 10px 0 0px 144px;">

            <div class="d-flex">
                <div class="col-md-12">

                    <div class="card" style="width: 80%; margin: 10px 0 0px 15px;">

                        <div class="card-header card-header-text">
                            <h4 class="card-title title1"><b>Select Your Team Members</b></h4>

                        </div><br><br><br>

                        <form [formGroup]="form" (ngSubmit)="submitForm()">



                            <div class="row">
                                <form [formGroup]="form" novalidate>
                                    <div class="col-md-4">
                                        <!-- <select class="form-control" placeholder="Select an option" formControlName="admin">
                                        
                                    <option  ><p>Select </p></option>
                                       
                                        <option  *ngFor="let adminss of admins ,let i = index" [ngValue]="adminss.userName"
                                        >{{adminss.userName}}</option>   
                                    </select> -->

                                        <select placeholder="Select Admin" formControlName="admin" class="form-control">
                                        <option value="" [defaultSelected]> <p>Select Admin </p></option>
                                        <option [ngValue]="adminss.userName" *ngFor="let adminss of admins" [ngClass]="adminss.userName == 'hide_element' ? 'class1' : 'class2'" >{{adminss.userName}}</option>    
                                    </select>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class=" col-md-4 mb-3">
                                                <select multiple class="custom-select" formControlName="technician" placeholder="Select an option">
                                                     <option value="">Choose your Technician</option>
                                                     <option *ngFor="let item of technician" [ngValue]="item.userName" >{{item.userName}}</option>
                                               </select>
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class=" col-md-4 mb-3">
                                                <select multiple class="custom-select" formControlName="telecaller" placeholder="Select an option">
                                                       <option value="">Choose your Telecaller</option>
                                                       <option *ngFor="let item of telecaller" [ngValue]="item.userName" >{{item.userName}}</option>
                                                 </select>
                                            </div>
                                        </div>

                                        <!-- <div *ngIf="show">
                                            <div *ngFor="let user of technician; let i=index">
                                                <label>
                                                  <input type="checkbox" [value]="user.userName" (change)="onCheckboxChange($event)" />
                                                  {{user.userName}}
                                                     </label>
                                            </div>
                                        </div> -->

                                    </div>

                                    <button *ngIf="showbutton" (click)="submitForm()" class="button btn mycolor" type="submit">Submit</button>
                                    <button *ngIf="showUpdate" (click)="update()" class="button btn mycolor" type="submit">Update</button>


                                </form>
                            </div>
                        </form>
                    </div>

                </div>
            </div>



        </div>

    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Team Allotment Details</h4>
                </div>
                <div class="modal-body">

                    <div class="row m-l-5">
                        <div class="col-sm-3 p-4">
                            <p><strong>Team Leader</strong></p>

                            <p><strong>Team Members</strong></p>
                        </div>
                        <div>
                            <p>{{teamdetails.admin }}</p>
                            <ul>
                                <li>{{teamdetails.technician }}</li>
                                <li>{{teamdetails.telecaller }}</li>
                            </ul>


                        </div>
                    </div>
                    <!-- <div class="row m-l-5">
                        <table style="width:100%; border: 1px solid black;">
                            <tr>
                                <th style="border: 1px solid black;text-align: center;">Spare Name</th>
                                <th style="border: 1px solid black;text-align: center;">Quantity</th>
                            </tr>

                            <tr *ngFor="let item of teamarr?.itemList">

                                <td style="border: 1px solid black;text-align: center;">{{item.spare_name}}</td>
                                <td style="border: 1px solid black;text-align: center;">{{item.qnt}}</td>

                            </tr>
                            <tr style="border: 1px solid black;">
                                <td style="border: 1px solid black; text-align: center;"><strong>Total Quantity</strong>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                            </tr>

                        </table>
                    </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>