<div class="card" style="width: 80%; margin: 10px 0 0px 144px;">
    <form [formGroup]="reactiveForm">
        <div class="card-header card-header-text">
            <h4 class="card-title" style="color:#2196F3;">Change Password</h4>
        </div>
        <div class="card-content">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Enter old password">
                <!-- <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
                    <div *ngIf="oldPassword.errors.required">Old password is required</div>
                    <div *ngIf="oldPassword.errors.cannotContainOldPassword">Old password is not valid</div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input formControlName="newPassword" type="text" class="form-control" placeholder="Enter new password">
                <div *ngIf="submitted && f.newPassword.errors" class="alert alert-danger">
                    <div *ngIf="f. newPassword.errors.required">password is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="text" class="form-control" id="confirmPassword" placeholder="Confirm new Password">
                <div *ngIf="submitted && f.newPassword.errors" class="alert alert-danger">
                    <div *ngIf="f. newPassword.errors.required">password is required</div>
                </div>
                <!-- <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="confirmPassword.errors.confirmNewPassword">Passwords must match</div>
                </div> -->
            </div>
            <button type="submit" class="btn btn-primary" (click)="onsubmit()">Change Password</button>
        </div>
    </form>
</div>