<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-warning">
                    <i class="zmdi zmdi-equalizer"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Users</strong></p>
                <h3 class="card-title">{{userCount}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Admin</strong></p>
                <h3 class="card-title">{{adminCount}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Telecaller</strong></p>
                <h3 class="card-title">{{telecallerCount}}</h3>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Technician</strong></p>
                <h3 class="card-title">{{technicianCount}}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Leads</strong></p>
                <h3 class="card-title">{{leadCount}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-success">
                    <i class="zmdi zmdi-money"></i>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Complaints</strong></p>
                <h3 class="card-title">{{complaintCount}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card" style="min-height: 350px">
            <div class="card-content">
                <h4 class="card-title">Lead By Telecaller
                </h4>
                <div class="chart-edge">
                    <apx-chart class="flex-auto w-full h-full " [chart]="leadByTelecaller?.chart " [colors]="['#2196F3']" [series]="leadByTelecaller?.series " [stroke]="leadByTelecaller?.stroke " [tooltip]="leadByTelecaller?.tooltip " [xaxis]="leadByTelecaller?.xaxis "></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="min-height: 350px">
            <div class="card-content">
                <h4 class="card-title">Lead By Technician
                </h4>
                <div class="chart-edge">
                    <apx-chart class="flex-auto w-full h-full " [chart]="leadByTechnician?.chart " [colors]="['#2196F3']" [series]="leadByTechnician?.series " [stroke]="leadByTechnician?.stroke " [tooltip]="leadByTechnician?.tooltip " [xaxis]="leadByTechnician?.xaxis "></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>