<div *ngIf="showLeadTable && !showupdateForm" class="d-flex">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title"> Assigned Leads</h4>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 87px;">ID</th>


                                        <th style="width: 87px;">Name</th>
                                        <th style="width: 87px;">Mobile no.</th>
                                        <th style="width: 87px;">Alternate no.</th>

                                        <th style="width: 87px;">Email ID</th>


                                        <th style="width: 87px;">Follow-up Date</th>
                                        <th style="width: 87px;">Assigned By</th>
                                        <th style="width: 87px;">Next Follow-up Date</th>
                                        <th style="width: 87px;">Status</th>

                                        <th style="width: 87px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of assignleads; let i = index">
                                        <td>{{i+1}}</td>

                                        <td>{{data.name}}</td>
                                        <td>{{data.mobileNo}}</td>
                                        <td>{{data.AltmobileNo}}</td>
                                        <td>{{data.emailId}}</td>

                                        <td>{{data.followUpdate}}</td>
                                        <td>{{data.createdBy}}</td>
                                        <td>{{data.nextFollowupdate}}</td>
                                        <td>{{data.status}}</td>

                                        <td class="text-right">
                                            <a class="btn btn-simple mycolor btn-icon edit"><i title="read" data-toggle="modal" data-target="#myModal" class="material-icons"(click)="view(data)">assignment </i></a>
                                            <a (click)="onEdit(data)" class="btn btn-simple btn-white btn-icon edit" style="background-color: rgb(230, 197, 54);"><i class="material-icons">edit</i></a>
                                            <!-- <a (click)="deleteLeads(data)" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a> -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showUpdateForm && !showLeadTable" class="card" style="width: 80%; margin: 10px 0 0px 144px;">
    <form class="form-horizontal" [formGroup]="formValue">
        <div class="card-header card-header-text">

            <span><h4 class="card-title">Update Leads</h4></span>
        </div>

        <div class="card-content">
            <div class="row">
                <label class="col-sm-2 label-on-left">Name</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text" placeholder="Enter name" formControlName="name" class="form-control" [readonly]="true" value>
                        <!-- <span class="text-info" *ngIf="formValue.touched && (!formValue.value.name || formValue.value.name.length == 0)" class="validation">*Name is required</span> -->

                    </div>
                </div>
            </div>

            <div class="row">



                <label class="col-sm-2 label-on-left">Mobile No.</label>

                <div class="form-group label-floating is-empty col-md-4">
                    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="10" placeholder="Enter 10 digit mobile number" formControlName="mobileNo" class="form-control" [readonly]="true">
                    <!-- <span class="text-info" *ngIf="formValue.touched && (!formValue.value.mobileNo || formValue.value.mobileNo.length == 0)" class="validation">*Mobile number is required</span> -->
                </div>

                <label class="col-sm-2 label-on-left">Alternate No.</label>
                <div class="form-group label-floating is-empty col-md-4">

                    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="10" placeholder="Enter 10 digit alternate mobile no." formControlName="AltmobileNo" class="form-control" [readonly]="true">

                </div>


            </div>


            <div class="row">
                <label class="col-sm-2 label-on-left">Email Id</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="email" placeholder="Enter email id" formControlName="emailId" class="form-control" [readonly]="true" value>
                        <!-- <span class="text-info" *ngIf="formValue.touched && (!formValue.value.emailId || formValue.value.emailId.length == 0)" class="validation">*Email ID is required</span> -->
                    </div>
                </div>

                <!-- <div class="row " >
                    <label class="col-sm-2 label-on-left">Assign to</label> -->
                <!-- <div class="col-sm-4">


                        <div class="form-group open" style="margin-left: 20px;">
                            <div class="select" aria-expanded="true">
                                <select class="form-control" placeholder="Select an option" formControlName="assignTo">
                                       
                                        <option >{{getcurrentUser()}}</option>
                                        <option [ngClass]="(getcurrentUser()==assign)?'hide':'show'" [ngValue]="assign" *ngFor="let assign of assigntoList">{{assign}}</option>   
                                    </select>

                                <span class="text-info" *ngIf="formValue.touched && (!formValue.value.assignTo || formValue.value.assignTo.length == 0)" class="validation">*Assign feild is required</span>
                            </div>
                            <span class="material-input"></span></div>
                    </div> -->



            </div>

            <div class="row">
                <label class="col-sm-2 label-on-left">Address</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text-area" placeholder="Enter address" formControlName="address" class="form-control" [readonly]="true">
                        <!-- <span class="text-info" *ngIf="formValue.touched && (!formValue.value.address || formValue.value.address.length == 0)" class="validation">*Address is required</span> -->
                    </div>
                </div>
            </div>



            <div class="card-header card-header-text">
                <h4 class="card-title">Follow-up</h4>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Follow-up</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty col-md-4">
                        <input type="text-area" formControlName="followUpmode" class="form-control" [readonly]="true">
                    </div>

                    <div class="form-group label-floating is-empty col-md-4">
                        <label class="control-label"></label>
                        <input type="date" formControlName="followUpdate" class="form-control" [readonly]="true">

                    </div>
                    <div class="form-group label-floating is-empty col-md-4">
                        <label class="control-label"></label>
                        <input type="text" formControlName="followUptime" class="form-control" [readonly]="true">
                    </div>

                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Comment</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text-area" formControlName="comment" placeholder="Add comment" class="form-control" [readonly]="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Next follow-up</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty col-md-6">
                        <label class="control-label">date :</label><br>
                        <input type="date" formControlName="nextFollowupdate" class="form-control" placeholder="" [readonly]="true">
                    </div>
                    <div class="form-group label-floating is-empty col-md-6">
                        <label class="control-label">time :</label><br>
                        <input type="time" formControlName="nextFollowuptime" class="form-control" placeholder="" [readonly]="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 label-on-left">Status</label>
                <div class="col-sm-10">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label"></label>
                        <select class="form-control" formControlName="status">
            
                                <option *ngFor="let data of status" [ngValue]="data">
                                    {{data}}
                                </option>
                             </select>
                    </div>
                </div>
            </div>

            <div class="text-center" style="margin-left: 100px;">
                <button [disabled]="!formValue.valid" type="button" (click)="updateLeadsDetails()" class="btn mycolor">Update<i class="bi bi-briefcase-fill"></i></button>
                <button (click)="showTable()" type="button" (click)="showTable()" class="btn btn-danger">Cancel<i class="bi bi-briefcase-fill"></i></button>

            </div>


        </div>




    </form>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Details</h4>
            </div>
            <div class="modal-body">

                <div class="row m-l-5">
                    <div class="col-sm-3 p-4">

                        <p><strong>Name</strong></p>
                        <p><strong>Mobile no.</strong></p>
                        <p><strong>Alternate no.</strong></p>
                        <p><strong>Email ID</strong></p>
                        <p><strong>Assign to</strong></p>
                        <p><strong>Address</strong></p>
                        <p><strong>Follow-up mode</strong></p>
                        <p><strong>Follow-up date</strong></p>
                        <p><strong>Follow-up time</strong></p>
                        <p><strong>Comment</strong></p>
                        <p><strong>Next Follow-up Date</strong></p>
                        <p><strong>Next Follow-up time</strong></p>
                        <p><strong>Status</strong></p>

                    </div>
                    <div>

                        <p>{{leadDetails.name}}</p>
                        <p>{{leadDetails.mobileNo}}</p>
                        <p>{{leadDetails.AltmobileNo}}</p>
                        <p>{{leadDetails.emailId}}</p>
                        <p>{{leadDetails.assignTo}}</p>
                        <p>{{leadDetails.address}}</p>
                        <p>{{leadDetails.followUpmode}}</p>
                        <p>{{leadDetails.followUpdate}}</p>
                        <p>{{leadDetails.followUptime}}</p>
                        <p>{{leadDetails.comment}}</p>
                        <p>{{leadDetails.nextFollowupdate}}</p>
                        <p>{{leadDetails.nextFollowuptime}}</p>
                        <p>{{leadDetails.status}}</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>