<div class="d-flex">
    <div>
        <button type="button" (click)="showStockForm()" class="btn btn-dark">Allot Stock <i class="bi bi-briefcase-fill"></i></button>
        <button type="button" (click)="showStockTable()" class="btn btn-primary">showList <i class="bi bi-briefcase-fill"></i></button>
    </div>

    <div class="col-md-12">
        <div *ngIf="!showstockForm && showstockTable" class="card">
            <div class="card-content">
                <h4 class="card-title title1">Users</h4>
                <div class="content">


                    <div class="row">
                        <div class="col-sm-12">

                            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>

                                        <th>Technician Name</th>

                                        <th>Total quantity</th>


                                        <th>Date</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of stockallotAll; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{data.techname}}</td>

                                        <td>{{getSum(data.itemList)}}</td>



                                        <td>{{data.date}}</td>

                                        <td>
                                            <a class="btn btn-simple btn-success btn-icon edit" (click)="view(data)"><i
                                                    title="read" data-toggle="modal" data-target="#myModal"
                                                    class="material-icons">assignment </i></a>
                                            <a (click)="onEdit(data)" class="btn btn-simple btn-white btn-icon edit"><i
                                                    title="edit" class="material-icons"
                                                    style="background-color: rgb(230, 197, 54);">edit</i></a>
                                            <a (click)="deleteStockallot(data)" class="btn btn-simple btn-danger btn-icon remove"><i title="delete"
                                                    class="material-icons">close</i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <div *ngIf="showstockForm && !showstockTable" class="card" style="width: 80%; margin: 10px 0 0px 144px;">
        <form class="form-horizontal" [formGroup]="formStockAllot">
            <div class="card-header card-header-text">
                <span *ngIf="showAddButton">
                    <h4 class="card-title title1">Allot Stock</h4>
                </span>
                <span *ngIf="showUpdateButton">
                    <h4 class="card-title title1">Update Stock Allot</h4>
                </span>
            </div>
            <div class="card-header card-header-text">

            </div>

            <div class="card-content">
                <div class="row">
                    <label class="col-sm-2 label-on-left">Technician</label>
                    <div class="col-sm-8">
                        <div class="form-group label-floating is-empty col-md-5">
                            <select placeholder="Enter Role" formControlName="techname" class="form-control">
                                <option value=""> Select technician name --</option>
                                <option [ngValue]="data.userName" *ngFor="let data of usersAll">{{data.userName}}
                                </option>
                            </select>
                        </div>

                        <label class="col-sm-2 label-on-left">Date</label>
                        <div class="form-group label-floating is-empty col-md-5">

                            <input type="date" class="form-control" formControlName="date">

                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content">

                                <button type="button" (click)="addItem()" style="margin-left: 86%;" class="btn btn-success btn-round btn-fab btn-fab-mini">
                                    <i class="material-icons">control_point</i>
                                    </button>
                                <!-- <a type="button" (click)="addItem()"><i style="margin-left: 96%; cursor: pointer; font-size:35px"class="material-icons " >add_circle_outline -->
                                <!-- </i> -->
                                <!-- </a> -->


                                <form [formGroup]="formStockAllot">
                                    <div formArrayName="itemList" *ngFor="let item of formStockAllot.get('itemList')['controls']; let i = index;">

                                        <div [formGroupName]="i">
                                            <table class="table">
                                                <thead>
                                                    <tr>

                                                        <td>
                                                            <select placeholder="Enter Role" formControlName="spare_name" (change)='selectSpare($event,i)' class="form-control">
                                                                  <option value=""> Select spare name --</option>
                                                                    <option [ngValue]="data.spare_name" *ngFor="let data of stockAll">{{data.spare_name}}</option>
                                                            
                                                                     </select>
                                                        </td>
                                                        <td>Available quantity : {{qnty[i]}} </td>
                                                        <td> <input type="number" placeholder="Quantity" class="form-control" formControlName="qnt"></td>
                                                        <td> <input type="number" placeholder="Balance Quantity" class="form-control" formControlName="qntdiff" [value]="getbalanceQnty(i)" [readonly]="true"></td>

                                                        <td *ngIf="i > 0" (click)="removeItem(i)" class="text-right"> <i style="cursor: pointer;" class="material-icons">delete_forever
                           </i>
                                                        </td>
                                                    </tr>

                                                </thead>

                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div class="text-center" style="margin-left: 100px;">
                <button *ngIf="showAddButton" type="button" (click)="postStockallotDetails()" class="btn btn-success">Allot<i class="bi bi-briefcase-fill"></i></button>
                <button *ngIf="showUpdateButton" type="button" (click)="updateStockallotDetails()" class="btn btn-success">Update<i class="bi bi-briefcase-fill"></i></button>

            </div> -->
            <div class="text-center">
                <button *ngIf="showAddButton" type="button" (click)="postStockallotDetails()" class="btn mycolor">Submit <i
                        class="bi bi-briefcase-fill"></i></button>
                <button *ngIf="showUpdateButton" type="button" (click)="updateStockallotDetails()" class="btn mycolor">Update <i
                        class="bi bi-briefcase-fill"></i></button>
            </div>



        </form>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">User Details</h4>
                </div>
                <div class="modal-body">

                    <div class="row m-l-5">
                        <div class="col-sm-3 p-4">
                            <p><strong>Technician Name</strong></p>

                            <p><strong>Date</strong></p>
                        </div>
                        <div>
                            <p>{{stockallotDetails.techname }}</p>
                            <!-- <p>{{stockallotDetails.spare_name }}</p>
                            <p>{{stockallotDetails.qnt }}</p> -->
                            <p>{{stockallotDetails.date }}</p>

                        </div>
                    </div>
                    <div class="row m-l-5">
                        <table style="width:100%; border: 1px solid black;">
                            <tr>
                                <th style="border: 1px solid black;text-align: center;">Spare Name</th>
                                <th style="border: 1px solid black;text-align: center;">Quantity</th>
                            </tr>

                            <tr *ngFor="let item of stockallotDetails?.itemList">

                                <td style="border: 1px solid black;text-align: center;">{{item.spare_name}}</td>
                                <td style="border: 1px solid black;text-align: center;">{{item.qnt}}</td>

                            </tr>
                            <tr style="border: 1px solid black;">
                                <td style="border: 1px solid black; text-align: center;"><strong>Total Quantity</strong>
                                </td>
                                <td style="border: 1px solid black; text-align: center;">
                                    <strong>{{getSum(stockallotDetails?.itemList)}}</strong></td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>